@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100..900&display=swap");
:root {
  --background: #ebebeb;
  --modal-background: #ebebeb91;
  --blue: #0144a8;
  --red: #ff2929;
  --skyblue: #e9f2ff;
  --text-header: 5.61rem;
  --text-2xl: 2.369rem;
  --text-xl: 1.777rem;
  --text-l: 1.333rem;
  --text-m: 1rem;
  --text-sm: 0.75rem;
  --text-xs: 0.563rem;
  --card-bgColor: #ffffff;
  --input-border: 3px;
  --input-bgColor: #ededed;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
  background-color: var(--background);
}

header {
  font-size: 5.61rem;
  font-weight: 700;
  /* font-size: clamp(3rem, .25vw, 5.61rem); */
  letter-spacing: -0.0102em;
  color: var(--blue);
  padding: 2.5rem 4.5rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.sidebar {
  display: flex;
}

.form-setting--controls {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
}
.form-setting--controls button {
  font-size: var(--text-l);
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: none;
}
.form-setting--controls button:nth-child(1) {
  color: var(--red);
}
.form-setting--controls button:nth-last-child(1) {
  color: var(--blue);
}

.card {
  background-color: var(--card-bgColor);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin-bottom: 2rem;
}
.card--header {
  padding: 1rem;
  width: 100%;
  background: var(--skyblue);
  border-radius: 15px 15px 0px 0px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.card--icon {
  height: 100%;
}
.card--title {
  font-size: var(--text-l);
  font-weight: 700;
  letter-spacing: -0.01em;
}
.card form {
  padding: 1.125rem;
}
.card form label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card form label p {
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
}
.card input {
  border: none;
  padding: 8px;
  border-radius: var(--input-border);
  background-color: var(--input-bgColor);
}
.card-setting {
  width: 100%;
  padding: 1rem;
}
.card-setting button {
  margin-left: auto;
}

.card--person form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}
.card--person form input {
  width: 162px;
}
.card--person form label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card--person form label p {
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
}

.card--education .education--schools,
.card--education .experience--companies,
.card--experience .education--schools,
.card--experience .experience--companies {
  width: 100%;
  padding: 0 1rem;
}
.card--education .education--schools li,
.card--education .experience--companies li,
.card--experience .education--schools li,
.card--experience .experience--companies li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
.card--education .education--schools li p,
.card--education .experience--companies li p,
.card--experience .education--schools li p,
.card--experience .experience--companies li p {
  white-space: nowrap;
  overflow: hidden;
  width: 250px;
  text-overflow: ellipsis;
}
.card--education .education--schools li .buttons,
.card--education .experience--companies li .buttons,
.card--experience .education--schools li .buttons,
.card--experience .experience--companies li .buttons {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.card--education .education--schools li .buttons button,
.card--education .experience--companies li .buttons button,
.card--experience .education--schools li .buttons button,
.card--experience .experience--companies li .buttons button {
  background: none;
  border: none;
  height: 1.25rem;
  width: 1.125rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.card--education form,
.card--experience form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card--education form .form--dates,
.card--experience form .form--dates {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
.card--education form .form--dates label,
.card--experience form .form--dates label {
  width: calc((100% - 14px) / 2);
}
.card--education form .form-setting,
.card--experience form .form-setting {
  display: flex;
  margin-top: 2rem;
}
.card--education form .form-setting button,
.card--experience form .form-setting button {
  border: none;
  background: none;
  font-weight: 700;
  font-size: 0.75rem;
  font-family: "Inter";
}
.card--education form .form-setting button:hover,
.card--experience form .form-setting button:hover {
  cursor: pointer;
}
.card--education form .form-setting :nth-child(1),
.card--experience form .form-setting :nth-child(1) {
  margin-right: auto;
}
.card--education form .form-setting :nth-child(3),
.card--experience form .form-setting :nth-child(3) {
  color: var(--red);
  margin-left: 2rem;
}

#modal-background {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-background);
  z-index: 1;
}

#clear-modal {
  max-width: 400px;
  background-color: white;
  font-size: var(--text-l);
  font-weight: 600;
  border-radius: 15px;
  padding: 4rem 2rem;
  padding-bottom: 1rem;
}
#clear-modal p {
  text-align: center;
}
#clear-modal .buttons {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  gap: 173px;
}
#clear-modal .buttons button {
  background: none;
  border: none;
  font-size: var(--text-l);
  font-weight: 600;
  cursor: pointer;
}
#clear-modal .buttons .clear-button {
  color: var(--red);
}
#clear-modal .buttons .no-button {
  color: var(--blue);
}

footer {
  height: 200px;
}/*# sourceMappingURL=App.css.map */